{% load static %}

<style>
   
@font-face {
  font-family: 'berta';
  src: url('static/fonts/beth-ellen-v1-latin-regular.eot');
  src: local('Beth Ellen Regular'),
        url('static/fonts/beth-ellen-v1-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('static/fonts/beth-ellen-v1-latin-regular.woff2') format('woff2'), 
        url('static/fonts/beth-ellen-v1-latin-regular.woff') format('woff'), 
        url('static/fonts/beth-ellen-v1-latin-regular.ttf') format('truetype'),
        url('static/fonts/beth-ellen-v1-latin-regular.svg#BethEllen') format('svg');

}

.invoiceF {
    font-family: 'berta';
    color: red;
}
</style>