{% load static %}
<div class="card" style="width: 18rem;">
<a href="{{ instance.get_absolute_url }}">
{% if instance.productimage_set.is_featured %}

  <div class="view overlay zoom">
    <img src="{{instance.productimage_set.is_featured.first.image.url}}" class="card-img-top img-fluid" style="max-width: 250px;max-height: 250px;" alt="{{ instance.title }}">
  </div>
{% else %}
  <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="{{ instance.title }}">
{% endif %}
</a>
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{{instance.description|truncatewords:20}}</p>
    <div class="text-center"> 
    <h3 class="mx-1">HKD {{ instance.price}} </h3>
      <a href="{{ instance.get_absolute_url }}" class="btn btn-dark my-1">View</a>
      {% comment %} {% include 'products/snipets/update_cart.html' with product=instance cart=cart in_cart=in_cart %} {% endcomment %}
    </div>
  </div>
</div> 