<form class="form-product-ajax" method="POST" action="{% url 'carts:update' %}" class="form-inline" data-endpoint="{% url 'carts:update' %}" >{% csrf_token %}
   <input type="hidden" name="product_id" value="{{ product.id }}" {% if product.is_digital %}data-is-digital="true"{% endif %} {% if request.user.is_authenticated %}shop-user="YES"{% endif %} >
       <span class="submit-span" {% if product.is_digital %}data-is-digital="true"{% endif %}>
            {% if product in cart.product.all %}
                <button type="submit" class="btn btn-danger">Remove from Cart</button>
            {% else %}
                <button type="submit" class="btn btn-success">add to cart</button>
            {% endif %}
        </span>
</form>