{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12 col-md-6 mx-auto">
    {% if title %}<h2 class="my-3 text-center">{{ title }}</h2><hr/>{% endif %}
    <form method="POST" action="{% if action_url %}{{ action_url }}{% endif %}"> {% csrf_token %}
        {% if next_url %}
            <input type="hidden" name="next" value="{{ next_url }}"/>
        {% endif %}
    

        {{ form|crispy }}
        <p >Email</p> 
        <input type='text' class='form-control' disabled="true" aria-disabled="true" value=' {{ request.user.email }}' /><span class="help-text">Cannot Change Email Address</span><br/>
        <br/>
        <button type="submit" class="btn btn-dark">Save</button>
        <a class="btn btn-danger" href='{% url 'change:password_change' %}'>Change Password</a>
    </form>
</div>
{% endblock  %}