{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


    <div class="row">
            <div class="col-8 col-sm-10 col-xs-12 mx-auto">
                <p class="text-center"><h1 class="text-center">{{ title }}</h1></p>
                <hr/>
                <form class="contact-form" action="{% url 'contact' %}" method="POST">{% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-dark">submit</button>
                </form>
            </div>
        </p>
    </div>


{% endblock  %}