{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <title>Some BS or rather</title>
     {% include 'base/css.html' %}
  </head>
  <body>

  {% include 'base/navbar.html' with brand_name='TC eCommerce' %}
    <div class="container-fluid my-2">
      <div class="row">
        <div class="col-lg-2 col-med-0 col-sm-0 d-none d-sm-block container-fluid" id="ad-div" style="position: fixed; bottom: 20%; left: 0;">
          {% include 'ad/ad.html' %}
        </div>
        <div class="col-lg-2">
        
        </div>
          <div class="col-lg-8 mx-auto my-4">
            <div class="container">
            
            <br/>
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}success{% endif %} messages" role="alert" style="padding:0px;margin-bottom: 5px">
        
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding: 0px; margin: 0px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container" style="padding: 0px;">
                            
                        <strong>Ooops! </strong>{{ message|safe }}
                            
                    </div>
                </div>
                {% endfor %}
              {% endif %}
              <br/>
              {% block content %}

              {% endblock %}
            </div>
          </div>
        <div class="col-lg-2">

        </div>
      </div>
    </div>

    
    
    {% include 'base/js.html' %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script>
    {% block java_script %}
    {% endblock  %}
    </script>
    </body>
</html>